
galaxy-simulator.sdf
galaxy-simulator.v12.suo
Win32/Debug/bin/freeglut.dll
Win32/Debug/bin/galaxy-simulator.exe
Win32/Debug/bin/galaxy-simulator.ilk
Win32/Debug/bin/galaxy-simulator.pdb
Win32/Debug/bin/glew32.dll
Win32/Debug/obj/camera.obj
Win32/Debug/obj/coordinate_axes.obj
Win32/Debug/obj/galaxy-simulator.log
Win32/Debug/obj/galaxy-simulator.tlog/cl.command.1.tlog
Win32/Debug/obj/galaxy-simulator.tlog/CL.read.1.tlog
Win32/Debug/obj/galaxy-simulator.tlog/CL.write.1.tlog
Win32/Debug/obj/galaxy-simulator.tlog/galaxy-simulator.lastbuildstate
Win32/Debug/obj/galaxy-simulator.tlog/link.command.1.tlog
Win32/Debug/obj/galaxy-simulator.tlog/link.read.1.tlog
Win32/Debug/obj/galaxy-simulator.tlog/link.write.1.tlog
Win32/Debug/obj/main.obj
Win32/Debug/obj/stars.obj
Win32/Debug/obj/utils.obj
Win32/Debug/obj/vc120.idb
Win32/Debug/obj/vc120.pdb
Win32/Release/bin/freeglut.dll
Win32/Release/bin/galaxy-simulator.exe
Win32/Release/bin/galaxy-simulator.pdb
Win32/Release/bin/glew32.dll
Win32/Release/obj/camera.obj
Win32/Release/obj/coordinate_axes.obj
Win32/Release/obj/galaxy-simulator.log
Win32/Release/obj/galaxy-simulator.tlog/cl.command.1.tlog
Win32/Release/obj/galaxy-simulator.tlog/CL.read.1.tlog
Win32/Release/obj/galaxy-simulator.tlog/CL.write.1.tlog
Win32/Release/obj/galaxy-simulator.tlog/galaxy-simulator.lastbuildstate
Win32/Release/obj/galaxy-simulator.tlog/link.command.1.tlog
Win32/Release/obj/galaxy-simulator.tlog/link.read.1.tlog
Win32/Release/obj/galaxy-simulator.tlog/link.write.1.tlog
Win32/Release/obj/main.obj
Win32/Release/obj/stars.obj
Win32/Release/obj/utils.obj
Win32/Release/obj/vc120.pdb
x64/Debug/bin/galaxy-simulator.exe
x64/Debug/bin/galaxy-simulator.ilk
x64/Debug/bin/galaxy-simulator.pdb
x64/Debug/obj/camera.obj
x64/Debug/obj/coordinate_axes.obj
x64/Debug/obj/galaxy-simulator.Build.CppClean.log
x64/Debug/obj/galaxy-simulator.log
x64/Debug/obj/galaxy-simulator.tlog/cl.command.1.tlog
x64/Debug/obj/galaxy-simulator.tlog/CL.read.1.tlog
x64/Debug/obj/galaxy-simulator.tlog/CL.write.1.tlog
x64/Debug/obj/galaxy-simulator.tlog/galaxy-simulator.lastbuildstate
x64/Debug/obj/galaxy-simulator.tlog/link.command.1.tlog
x64/Debug/obj/galaxy-simulator.tlog/link.read.1.tlog
x64/Debug/obj/galaxy-simulator.tlog/link.write.1.tlog
x64/Debug/obj/main.obj
x64/Debug/obj/stars.obj
x64/Debug/obj/utils.obj
x64/Debug/obj/vc120.idb
x64/Debug/obj/vc120.pdb
x64/Release/bin/freeglut.dll
x64/Release/bin/galaxy-simulator.exe
x64/Release/bin/galaxy-simulator.pdb
x64/Release/bin/glew32.dll
x64/Release/obj/camera.obj
x64/Release/obj/coordinate_axes.obj
x64/Release/obj/galaxy-simulator.log
x64/Release/obj/galaxy-simulator.tlog/cl.command.1.tlog
x64/Release/obj/galaxy-simulator.tlog/CL.read.1.tlog
x64/Release/obj/galaxy-simulator.tlog/CL.write.1.tlog
x64/Release/obj/galaxy-simulator.tlog/galaxy-simulator.lastbuildstate
x64/Release/obj/galaxy-simulator.tlog/link.command.1.tlog
x64/Release/obj/galaxy-simulator.tlog/link.read.1.tlog
x64/Release/obj/galaxy-simulator.tlog/link.write.1.tlog
x64/Release/obj/main.obj
x64/Release/obj/stars.obj
x64/Release/obj/utils.obj
x64/Release/obj/vc120.pdb
