galaxy-simulator/stars_ocl.h
galaxy-simulator.sdf
galaxy-simulator.opensdf
galaxy-simulator.v12.suo

Win32/**

x64/Debug/bin/galaxy-simulator.ilk
x64/Debug/bin/ocl_build_log_*.txt
x64/Debug/obj/**

x64/Release/bin/galaxy-simulator.pdb
x64/Release/obj/**
